<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0 mr-3">Watson Challenge</h3>
            </div>
        </header>

        <main class="container-fluid">
            <h1 class="mb-4">Transforming your texts into audio..</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <form>
                            <textarea id="message" class="form-control" cols="4" rows="3" required></textarea>
                        </form>
                        <button onclick="insertComment()" class="btn btn-sm btn-outline-secondary fw-bold border-white mt-2" type="button" style="color: white">Cadastrar</button>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div id="comments" class="row">
                            <!-- Comentarios e botão -->
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Application developed by: <a href="https://github.com/GenoaroSJr" target="_blank" class="text-white">Genoaro S. Jr.</a></p>
        </footer>
    </div>